{% extends "base.html" %}

{% block title %} Index {% endblock %}

{% block main %}

    <div class="jumbotron">
        <h1>Clients webpage</h1>
        <hr>
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-lg-4">
                    <h2>Hello {{ user.username }}</h2>
                    <p>Access the <a href="{% url 'client_list' %}">client list</a> page</p>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                </div>
                <div class="col-lg-8">

                </div>   
            {% else %}
                <div class="col-lg-4">
                    <p>Login to access the clients list</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </div>
                <div class="col-lg-8">

                </div>  
            {% endif %}
        </div>
    </div>

{% endblock %}


{% block footer %}

<br>
<footer class="footer">
    <div class="container">
        <p class="text-muted">Develop in Django 2.x</p>
    </div>
</footer>  

{% endblock %}